*{
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(162, 113, 207, 0.691);
    padding: 15px;
    height: 650px;
    flex-direction: row-reverse;
    justify-content: center;

}
.item {
    display: flex;
    align-items: center;
    background-color: rgba(122, 230, 194, 0.787);
    margin: 100px;
    padding: 15px;
    display: block;
    width: 150px;
    flex-wrap: nowrap;
    justify-content: space-between;
}
section {
    display: block;
}
img {
    height: 100px;
}
.shrek{
    flex-wrap: nowrap;
    order: -1; 
    
}
.burro{
    flex-wrap: nowrap;
    order: 2; 
   
}
.pinocho{
    order: 4;

}
.gatoconbotas{
    order: 3;

}
.fiona {
    order: 1;
  align-self: stretch; 
}





